.nav {
  padding: 10px;
  background-color: #f7f137;
  color: #fff;
}

.img-box {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

div p{
  display: inline-block;
  margin-left: 10px;
  color: black;
}
button{
  background-color: black;
  border: 0;
  color: #fff;
  padding: 10px;
}